attrs
certifi
cffi
chardet
charset-normalizer 
colorama
et_xmlfile
h11
idna
numpy
openpyxl
outcome
packaging
pandas
pip               
pycparser          
PySocks            
python-dateutil    
python-dotenv     
pytz             
requests
selenium
setuptools
six 
sniffio
sortedcontainers
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
websocket-client
wsproto